<%= turbo_frame_tag(
    dom_id(concert),
    class: "concert",
    "data-sort-target": "sortElement",
    "data-sort-value": concert.start_time.to_i,
    "data-#{concert.start_time.by_example("2006-01-02")}": true
  ) do %>
  <% if user&.is_editing?(concert) %>
    <%= render"concerts/form", concert: concert %>
  <% else %>
    <article class="my-2 border-b-2"
              data-sold-out-data-target = "concert"
              data-controller="concert"
              data-concert-id-value = "<%= concert.id %>"
              data-concert-sold-out-value = "<%= concert.sold_out? ? 'true' : 'false' %>"
              data-concert-tickets-remaining-value = "<%= concert.unsold_ticket_count %>">
      <div class="grid gap-y-2 gap-x-0 grid-cols-1 p-2 sm:grid-cols-5 sm:gap-x-2 sm:gap-y-2">
        <div class="col-span-1 text-xl">
          <%= concert.start_time.by_example("3:04 PM") %>
        </div>
        <div class="col-span-3">
          <div class="name">
            <div class="text-lg font-bold">
              <%= link_to(
                concert.name,
                concert,
                data: { turbo_frame: "_top" }
              ) %>
            </div>
          </div>
          <div class="bands">
            <%= concert.bands.map(&:name).join(", ") %>
          </div>
          <div class="genres">
            <%= concert.genre_tags.split(",").to_sentence %>
          </div>
          <div class="text-gray-500 font-bold">
            <%= concert.venue.name %>
          </div>
        </div>
        <div class="col-span-1 text-lg text-center">
          <span class="text-lg font-bold text-red-500" data-concert-target="tickets"></span>
          <div class="w-full flex flex-wrap justify-center">
            <% if user %>
              <%= link_to(
                    "Edit",
                    edit_concert_path(concert),
                    class: SimpleForm.button_class
                  ) %>
              <% if user.favorite(concert) %>
                <%= button_to(
                      "Unfavorite",
                      favorite_path(id: user.favorite(concert)),
                      method: "delete",
                      form: {data: {"turbo-frame": "favorite-concerts"}},
                      class: SimpleForm.button_class
                    ) %>
              <% else %>
                <%= button_to(
                  "Favorite",
                      favorites_path(concert_id: concert.id),
                      method: "post",
                      form: {data: {"turbo-frame": "favorite-concerts"}},
                      class: SimpleForm.button_class
                    ) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
<% end %>
